/**
 * Styles for the Knight-Wallace Website
 * @rdarling42
 *
 */
@mixin link_style($color, $hover) {
    a {
        color: $color;

        &:hover {
            color: $hover;
        }

        &:link,
        &:visited {
            color: $color;
        }
    }
}

.disappear {
    display: none;
}

html {
    font-size: 62.5%;
}

body {
    color: $charcoal;
}

a {
    color: $lblue;
    transition: all 0.5s ease;

    &:hover {
        color: $ublue;
    }

    &:link,
    &:visited {
        color: $lblue;
    }
}

.row {
    max-width: 128.0rem;
}

#header {
    background: $ublue;
    color: $white;
    padding: 2rem;

    h1,
    h2 {
        color: $white;
    }
}

#eyebrow {
    ul {
        float: right;

        li {
            float: left;
            list-style: none;

            a {
                color: $white;
                font-size: 1.4rem;
                padding: 2px 5px 2px 8px;
            }
        }
    }
}

#main_nav {
    background: $charcoal;
    color: $white-gray;

    @media only screen and (min-width: 84.0625em) {
        .row.small-collapse > .columns {
            padding: 0 1rem !important;
        }
    }

    .primary {
        font-size: 2rem;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.5s ease;

        @include link_style($white-gray, $charcoal);

        &:hover,
        &.active {
            background: $white-gray;

            @include link_style($charcoal, $ublue);
        }

        a {
            display: inline-block;
            padding: 2rem 0;
            width: 100%;
        }
    }

    .sub-nav-wrap {
        background: $white-gray;
        font-size: 2rem;
        text-align: center;

        @include link_style($lblue, $charcoal);

        li {
            font-size: 2rem;
            margin: 1rem 2rem 0;
        }
    }

    li {
        display: inline-block;
    }
}

/* Hero Unit */
#hero_image {
    background: url(http://lorempixel.com/output/city-q-c-1920-1920-3.jpg) no-repeat center center;
    background-size: cover;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 750px;
    justify-content: center;

    .columns {
        background: rgba($charcoal, 0.7);
        float: none;
        margin: 0 auto;
        padding: 1rem;
        text-align: center;
    }

    h2 {
        font-size: 2.6rem;
        font-weight: bold;
        margin-bottom: 0;
        color: $myellow;

        a {
            color: $myellow;
        }
    }

    p {
        font-size: 2.6rem;
        line-height: 1.2;
    }

    a {
        color: $white;
    }
}

/* Home Page Posts */
#main.posts {
    margin-bottom: 6rem;
    margin-top: 5rem;

    .columns {
        color: $white;
        margin-bottom: 2rem;

        .text {
            background: $lblue;
            padding: 1.5rem 3rem 1rem;
            transition: all 0.5s ease;
            height: 126px;

            &:hover {
                background: $ublue;
            }
        }

        a {
            color: $white;
            display: inline-block;
            font-size: 1.6rem;
        }

        h3 {
            color: $white;
            font-size: 2rem;
            font-weight: bold;
        }

        img {
            height: auto;
            width: 100%;
        }
    }
}

.tags-list {
    bottom: 0;
    position: absolute;

    ul {
        margin: 0;
        padding: 0;

        li {
            color: $charcoal;
            display: inline-block;
            list-style: none;

            &:last-child .divider {
                display: none;
            }

            a {
                color: $charcoal;
                padding: 0;
            }
        }
    }
}

#alerts {
    margin-bottom: 8rem;
}

.alert {
    background: $white-gray;
    margin-bottom: 2rem;

    .large-4 {
        background: $red;
        color: $white;
        font-size: 1.4rem;
        padding: 2rem;
        text-align: center;
        text-transform: uppercase;

        strong {
            font-size: 1.8rem;
        }
    }

    .large-8 {
        font-size: 1.8rem;
        padding: 2rem;

        @include link_style($red, lighten($red, 10%));

        a {
            font-size: 2.4rem;
            margin-right: 2rem;
        }

        p {
            font-size: 1.8rem;
        }
    }
}

/* Library */
#library {
    padding-top: 6rem;

    .featured {
        background: $myellow;
        margin: 4rem 0;

        .author {
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }

        .featured-text {
            height: 100%;
            padding: 1rem 0;
            position: relative;
        }

        .tags-list {
            bottom: 1rem;
            position: absolute;
        }

        h1 {
            font-weight: bold;
        }

        h3 {
            a {
                color: $lblue;
                font-size: 2rem;
                font-weight: bold;
            }
        }

        h4 {
            font-size: 1.8rem;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        img {
            height: auto;
            width: 100%;
        }

        p {
            font-size: 1.8rem;
            line-height: 1.4;
        }
    }
}

.story-list {
    .date {
        color: $charcoal;
        font-size: 1.6rem;
    }

    .heading {
        background: $charcoal;
        margin-bottom: 2rem;
        padding: 0 1rem;
    }

    .large-5 {
        padding-top: 0.5rem;
    }

    .more-posts {
        align-items: center;
        background: $lblue;
        color: #fff;
        display: flex;
        font-size: 2rem;
        height: 18rem;
        justify-content: center;
        margin-bottom: 5rem;
        width: 100%;
    }

    .news-article {
        background: $white-gray;
        height: 18rem;
        margin-bottom: 2rem;
        padding: 1rem 2rem;
        position: relative;
        display: flex;
    }

    .text {
        height: 100%;
        position: relative;
        flex-grow: 1;
    }

    h3 {
        color: $white;
        padding: 5px 0;
    }

    h4 {
        a {
            color: $lblue;
            font-size: 2rem;
            font-weight: bold;
        }
    }

    img {
        height: auto;
        max-height: 152px;
        width: auto;
        max-width: 246px;
        margin-right: 2rem;
    }
}

/* Page Styles */
.entry-title {
    font-size: 4.4rem;
    line-height: 4.4rem;
    color: $ublue;
    text-align: center;
    margin: 8rem 0 4rem;
}

.content {
    padding-bottom: 4rem;

    @include responsive("1024px") {
        padding: 0 2rem 4rem;
    }


    h1 {
        font-size: 4.4rem;
        line-height: 4.4rem;
        color: $ublue;
    }

    h2 {
        font-size: 2.6rem;
        line-height: 3.4rem;
        color: $ublue;
    }

    h3 {
        font-size: 2rem;
        line-height: 2.4rem;
        color: $lblue;
    }

    h4 {
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: $lblue;
    }

    ul {
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    ol {
        margin-left: 2.2rem;
        margin-bottom: 2rem;
    }

    li, p {
        font-size: 2rem;
        color: $ublue;
        line-height: 2.6rem;
    }

    li {
        margin-bottom: 0.5rem;
    }
}

.la-winner {
    padding: 6rem 0;
    border-bottom: 1px solid $charcoal;

    .type {
        background: $ublue;
        color: $white;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-transform: uppercase;
        padding: 3px 10px;
        margin-bottom: 2rem;
    }

    .name {
        color: $ublue;
        font-size: 2.6rem;
        line-height: 3.4rem;
        font-family: $primary-font-bold;
    }

    .lib-item {
        color: $lblue;
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-family: $primary-font;
    }

    .aff {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $charcoal;
        font-family: $primary-font;
    }

    .image {
        margin-top: 2rem;
        margin-bottom: 2rem;

        img {
            width: 100%;
            height: auto;
        }
    }

    .descrip {
        font-size: 1.8rem;
        font-family: $primary-font;
        color: $ublue;
        line-height: 2.6rem;
    }

    .winner-quote {
        margin-top: 2rem;
    }

    .quote {
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: $ublue;
        font-family: $primary-font-bold;
    }

    .a-image {
        margin-bottom: 7px;
    }

    .small-name {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-family: $primary-font-bold;
        color: $ublue;
    }
}

/* Footer */
.site-footer {
    padding-bottom: 80px;

    .large-2 {
        text-align: right;
    }

    .top {
        background: $ublue;
        color: $white;
        font-size: 1.8rem;
        margin-bottom: 30px;
        padding: 35px 0;

        @include responsive("1280px") {
            padding: 35px 20px;
        }


        @include responsive("640px") {
            padding: 35px 20px 0;

            .columns {
                margin-bottom: 35px;
            }
        }


        .social-media-links {
            margin: -5px 0 2rem;
            padding: 0;
            width: 100%;

            li {
                display: inline-block;
                list-style: none;
                margin-right: 2rem;

                a {
                    font-size: 3rem;
                }
            }
        }

        a {
            color: $white;
            font-size: 1.8rem;
        }

        h5,
        h6 {
            color: $white;
            font-size: 2rem;
            font-weight: bold;
        }

        h6 {
            font-size: 1.8rem;
        }

        input[type=submit], button {
            background: $lblue;
            border: none;
            color: $white;
            font-size: 1.8rem;
            font-weight: bold;
            height: 4.4rem;
            width: 30%;
            padding: 0;

            @include responsive("900px") {
                font-size: 1.5rem;
            }


            @include responsive("500px") {
                width: 100%;
            }
        }

        input[type=text], input[type=email] {
            float: left;
            font-size: 1.8rem;
            height: 4.4rem;
            margin-right: 3%;
            width: 65%;

            @include responsive("500px") {
                width: 100%;
            }
        }

        p {
            color: $white;
            font-size: 1.8rem;
        }
    }

    a {
        color: $lblue;
        font-size: 1.4rem;
    }

    p {
        color: $lblue;
        font-size: 1.4rem;
    }
}

/*Past Winners*/
#past_winners_control {
    @include link_style($white, $white);

    li {
        list-style: none; 
    }

    label {
        color: $white; 
        position: relative;
        top: -0.5rem;
    }

    .columns, .row {
        background: $charcoal;
        color: $white;
    }
}
