.wp-block-file {

	.wp-block-file__textlink {
		text-decoration: underline;
		text-decoration-style: solid;
		text-decoration-thickness: 1px;

		&:hover {
			text-decoration: underline;
			text-decoration-style: dotted;
		}
	}

	.wp-block-file__button {
		// Extend button style
		@include button-style();
		display: inline-block;
<<<<<<< HEAD

=======
		
>>>>>>> 4f5257590d2e7c22bdac7a915861fa8f02a12394
		// Remove :focus styles in the editor
		&:focus {
			outline-offset: inherit;
			outline: inherit;
		}
	}
}
